#about {
  background-color: var(--mainAccent);
}

#aboutContent h2,
#aboutContent p {
  color: var(--lighter);
}

#aboutContent h2 {
  font-size: 4rem;
}

#aboutContent p {
  font-size: 2rem;
  line-height: 40px;
}

.contactList img {
  padding-left: 0.5rem;
}

@media (max-width: 1024px) {
  #about {
    padding: 9rem 4.5rem;
  }
}

@media (max-width: 768px) {
  #about {
    padding: 3rem 3rem;
  }
}
