#about {
  background-color: var(--mainAccent);
}

#aboutContent {
  padding: 8rem 10rem 16rem 10rem;
  margin: 0 auto;
  max-width: 1344px;
}

#aboutContent h2,
#aboutContent p {
  color: var(--lighter);
}

#aboutContent h2 {
  font-size: 4rem;
}

#aboutContent p {
  font-size: 2rem;
  line-height: 40px;
}

@media (max-width: 768px) {
  #about {
    padding: 3rem 0rem;
  }

  #about p {
    line-height: 1.5;
  }
}

@media (max-width: 426px) {
  #aboutContent {
    padding: 8rem 0;
  }
}
