nav h1 {
  padding: 4rem 2rem;
  font-family: "Notable", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 45rem;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 1035px) {
  nav ul {
    min-width: 55rem;
  }
}

nav ul li {
  position: relative;
  letter-spacing: 0.5rem;
  font-size: 19px;
}
