nav {
  max-width: 1344px;
  margin: 0 auto 3rem auto;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

nav a,
nav h1 {
  padding: 1rem 1rem;
  margin: 1rem 1rem;
}

nav h1 {
  font-family: "Noto Sans", sans-serif !important;
  font-size: 30px;
  font-weight: 700;
}

nav .icon {
  background-color: var(--mainAccent);
  border-radius: 25%;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

nav .icon:hover {
  transform: scale(0.97);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
