#works {
  padding: 2rem 4rem;
  margin: 10rem auto;
  max-width: 1344px;
}

.project {
  margin-bottom: 6rem;
  position: relative;
}

.project-content .projectType {
  color: var(--tertiaryAccent);
  font-size: 15px;
  letter-spacing: 0.2em;
}

#works h2 {
  font-size: 4rem;
}

.project h4 {
  color: var(--secondaryAccent);
  font-size: 20px;
  letter-spacing: 0.2em;
}

.project-content {
  text-align: right;
  align-content: center;
  z-index: 2;
  margin-left: -25px;
}

@media (min-width: 426px) {
  .project:hover img {
    transform: scale(1.02);
    opacity: 0.3;
  }

  .project:hover h4 {
    opacity: 1;
  }

  .project h4 {
    font-weight: bold;

    transition: 0.5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
  }
}

.project-content li {
  font-size: 16px;
  color: var(--dark);
}

.project img {
  max-width: 100%;
  height: auto;
  border-radius: 0.2em;

  transition: 0.5s ease;
  backface-visibility: hidden;
}

.project-description {
  box-shadow: 0 10px 30px -15px #0c141d;
  background-color: var(--mainAccent);
}

.project-description p {
  color: var(--lighter);
}

.project-content .icon {
  width: 25px;
  height: auto;
}
