#works {
  scroll-snap-align: start;
}

.project {
  margin-bottom: 6rem;
}

.project-content .projectType {
  color: var(--darkorange);
  font-size: 15px;
  letter-spacing: 0.2em;
}

#works h2 {
  font-size: 56px;
}

#works h4 {
  color: var(--pink);
  font-size: 25px;
  letter-spacing: 0.2em;
}

.project-content {
  text-align: right;
  align-content: center;
  z-index: 2;
  margin-left: -25px;
}

@media (max-width: 766px) {
  .project-content {
    margin-left: 0px;
  }
}

.project-content li {
  font-size: 16px;
  color: var(--lighter);
}

.projectImage {
  z-index: 1;
}

.project img {
  max-width: 100%;
  height: auto;
  border-radius: 0.2em;
}

.project-description {
  box-shadow: 0 10px 30px -15px #0c141d;
  background-color: #121f2b;
}

.project-content .icon {
  width: 25px;
  height: auto;
}
