#skills {
  margin-top: -14rem;
}

#skills .container {
  background-color: #ffff;
  max-width: 1200px;
  border: 1px solid #ebebff;
  border-radius: 12px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 4em;
}

#skills h2 {
  font-size: 3.5rem;
}

#skills ul {
  list-style: none;
}

#skills li {
  font-size: 19px;
  color: var(--secondaryAccent);
}

#skills li:hover {
  color: var(--mainAccent);
  transition: color 0.5s;
}
