#skills {
  /* background-color: var(--mainAccent); */
}

#skills h2 {
  font-size: 56px;
}

#skills ul {
  list-style: none;
}

#skills li {
  font-size: 19px;
  color: var(--mainAccent);
}

#skills li:hover {
  color: var(--secondaryAccent);
  transition: color 0.5s;
}
