/* General styling */

:root {
  --lighter: #eddcd2;
  --dark: #0b0b09;
  --mainAccent: #0b3954; /*pink*/
  --secondaryAccent: #718355; /*darkorange*/
  --tertiaryAccents: #af3f05; /*green*/
}

html {
  font-size: 62.5%;
  color: var(--dark);
  width: 100%;
}

body {
  font-family: "Viga", sans-serif;
  line-height: 1.6;
  background-color: var(--lighter);
  font-size: 19px;
  position: absolute;
}

main {
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 150px;
}

main .fillHeight {
  padding: 0 150px;
}

@media (max-width: 1024px) {
  main {
    padding: 0px 10px;
  }

  main .fillHeight {
    padding: 0px 10px;
  }
}

@media (max-width: 768px) {
  main {
    padding: 0px 0px;
  }

  main .fillHeight {
    padding: 0px 0px;
  }
}

h1 {
  letter-spacing: 1rem;
  color: var(--dark);
  font-size: 70px;
}

h2 {
  color: var(--dark);
}

p {
  color: var(--dark);
}

a {
  text-decoration: none;
  color: var(--dark);
}

a:hover {
  color: var(--mainAccent);
  transition: color 0.5s;
}

.pink {
  color: var(--mainAccent);
}

.orange {
  color: var(--secondaryAccent);
}

li {
  list-style: none;
}

.fascinate {
  font-family: "Fascinate", cursive;
}

.grandHotel {
  font-family: "Grand Hotel", cursive;
  font-size: 1.5em;
}

.notable {
  font-family: "Notable", sans-serif;
}
