/* General styling */

:root {
  --pink: #fec5bb;
  --lighter: #fcf6f5;
  --green: #d8e2dc;
  --darkorange: #fec89a;
  --dark: #172a3a;
}

html {
  font-size: 62.5%;
  color: var(--lighter);
  width: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: var(--dark);
  font-size: 19px;
  position: absolute;
}

main {
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 150px;
}

main .fillHeight {
  padding: 0 150px;
}

@media (max-width: 1024px) {
  main {
    padding: 0px 10px;
  }

  main .fillHeight {
    padding: 0px 10px;
  }
}

@media (max-width: 768px) {
  main {
    padding: 0px 0px;
  }

  main .fillHeight {
    padding: 0px 0px;
  }
}

h1 {
  letter-spacing: 1rem;
  color: var(--lighter);
  font-size: 70px;
}

h2 {
  color: var(--lighter);
}

p {
  color: var(--lighter);
}

a {
  text-decoration: none;
  color: var(--lighter);
}

a:hover {
  color: var(--pink);
  transition: color 0.5s;
}

.pink {
  color: var(--pink);
}

.orange {
  color: var(--darkorange);
}

li {
  list-style: none;
}
